@import "./utils/vars";
@import "./utils/base";
@import "./utils/mixins";

@import "./components/common/page-header";
@import "./components/common/logo";
@import "./components/common/page-footer";
@import "./components/common/list-social-networks";

@import "./components/portfolio/filtr-projects";
@import "./components/portfolio/projects-list";
