.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms $timing-function;
}

.backdrop--hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	min-width: 528px;
	min-height: 581px;

	background-color: $primary-white-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms $timing-function;

	.backdrop--hidden & {
		transform: translate(-50%, -50%) scale(0.9);
	}
}

.modal__button-close {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 30px;
	height: 30px;
	background-color: $primary-white-color;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;
	transition: fill 250ms $timing-function;

	&:hover {
		fill: $accent-color;
	}
}

// ======================== Form-request ==========================

.form-request {
	padding: 40px;
}
.form-request__title {
	margin-top: 0;
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 0.87;
	color: $title-text-color;
	text-align: center;
}

.form-request__field {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-request__field > .form-request__label {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}

.form-request__field .form-request__input,
.field-comment {
	padding: 12px 42px;
	width: 100%;
	font: inherit;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms $timing-function;
}

.form-request__field:focus-within .form-request__input,
.form-request__field:focus-within .field-comment {
	outline: none;
	border-color: $accent-color;
}

.form-request__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transition: fill 250ms $timing-function;
}

.form-request__field:focus-within .form-request__icon,
.form-request__input:not(:placeholder-shown) + .form-request__icon {
	fill: $accent-color;
}

.comment {
	margin-bottom: 20px;
}

.field-comment {
	padding: 12px 16px;
	height: 120px;
	resize: none;

	&::placeholder {
		line-height: 1.14;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
}

.policy {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.policy__checkbox {
	// appearance: none;
	// -webkit-appearance: none;
	// -moz-appearance: none;

	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.policy__label {
	display: flex;
	align-items: center;
}

.policy .contract {
	position: relative;
	color: $accent-color;
	margin-left: 5px;

	&::after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 0.5px;
		background-color: $accent-color;
		left: 0;
		bottom: 5px;
	}
}

.policy__label::before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 15px;
	margin-right: 10px;
	border: 2px solid $title-text-color;
	border-radius: 4px;
	transition: background-color 250ms $timing-function, border-color 250ms $timing-function;

	.policy__checkbox:checked ~ & {
		background-color: $accent-color;
		background-image: url("../images/icon\ check.svg");
		background-origin: border-box;
		border: 2px;
		border-color: $accent-color;
	}
}

// .checkbox__icon {
//   display: inline-block;
//   width: 16px;
//   height: 15px;
//   margin-right: 10px;
//   border: 2px solid #2a2a2a;
//   border-radius: 4px;
// }

.form-request__button {
	display: block;
	margin: 0 auto;
	padding: 10px 32px;
	min-width: 200px;
	min-height: 50px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
