.social-networks__list {
	display: flex;

	&--center {
		justify-content: center;
	}
}

.social-networks__item:not(:last-child) {
	margin-right: 10px;
}

.social-networks__link {
	@include centered-flex();
	width: 44px;
	height: 44px;
	border-radius: 50%;

	background-color: $primary-white-color;
	fill: $primary-icon-color;

	transition: fill 250ms $timing-function,
		background-color 250ms $timing-function;

	&:hover,
	&:focus {
		background-color: $accent-color;
		fill: $primary-white-color;
	}

	&--footer {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.social-networks__icon--footer {
	fill: $primary-white-color;
}
