.project-list {
	display: flex;
	flex-wrap: wrap;
}

.project-list__item {
	flex-basis: calc((100% - 2 * 30px) / 3);
	box-shadow: none;

	&:not(:nth-child(3n)) {
		margin-right: 30px;
	}

	&:not(:nth-last-child(-n + 3)) {
		margin-bottom: 30px;
	}
}

.project-list__link {
	display: block;
	color: inherit;
	box-shadow: none;

	transition: box-shadow 250ms $timing-function;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.project-list__meta {
	padding: 20px 24px;
	border-right: 1px solid $primary-border-color;
	border-bottom: 1px solid $primary-border-color;
	border-left: 1px solid $primary-border-color;
}

.project-list__title {
	margin-top: 0;
	margin-bottom: 4px;
	color: $title-text-color;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.project-list__text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.87;
}

// ====================== Overlay ==========================

.project-list__thumb {
	position: relative;
	overflow: hidden;
}

.project-list__overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(101%);
	transition: transform 250ms $timing-function;

	.project-list__link:hover &,
	.project-list__link:focus & {
		transform: translateY(0);
	}
}

.project-list__overlay-text {
	margin-top: 0;
	margin-bottom: 0;
	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.56;
	color: $primary-white-color;

	opacity: 0;
	transition: opacity 250ms $timing-function;

	.project-list__link:hover &,
	.project-list__link:focus & {
		opacity: 1;
	}
}
