/* цвет основного текста #757575 */
/* вторичный цвет текста (цвет заголовков) #212121 */
/* акцент #2196F3 */
/* цвет ссылок в адресе rgba(255, 255, 255, 0.6) */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет акцентов фота #2F303A */
/* основной цвет бордера в портфолио #EEEEEE */
/* вторичный цвет бордера в портфолио #ECECEC */
/* цвет фона героя #C4C4C4 */
/* основной цвет иконок #afb1b8 */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$accent-bg-color: #2f303a;
$primary-icon-color: #afb1b8;
$primary-border-color: #eeeeee;
$secondary-border-color: #ececec;

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$primary-border-color: #eeeeee;
$secondary-border-color: #ececec;
